.tableContainer {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.tableHeader {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0;
  margin-top: 15px;
  border-bottom: 1px solid #EDEDF0;
  align-items: baseline;
}

.tableHeaderCount {
  color: #BDBDBD;
  font-size: 12px;
  flex-basis: 100%;
  margin-bottom: 10px;
  margin-left: 55px;
}

.tableHeaderType {
  flex-basis: 130px;
  margin-left: 55px;
  font-weight: 700;
  color: rgba(0, 0, 0, .65);
  font-size: 14px;
  text-transform: uppercase;
}

.tableHeaderName {
  flex-grow: 1;
  font-weight: 700;
  color: rgba(0, 0, 0, .65);
  font-size: 14px;
  text-transform: uppercase;
}

.tableList {
  overflow: auto;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .02);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);

    &:hover {
      background: rgba(0, 0, 0, 0.4);
    }

    &:active {
      background: rgba(0, 0, 0, .5);
    }
  }
}

.tableItem {
  display: flex;
  align-items: center;
  padding: 4px 0;
  border-bottom: 1px solid #EDEDF0;
  transition: background .2s;
  cursor: pointer;

  &:hover {
    background: #FBFBFB;
  }
}

.tableItemIcon {
  flex-basis: 45px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 10px;
}

.tableItemIconImg {
  height: 25px;
}

.tableItemType {
  flex-basis: 130px;
  font-size: 14px;
  color: rgba(0, 0, 0, .65);
  flex-shrink: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tableItemName {
  flex-grow: 1;
  font-size: 14px;
  color: rgba(0, 0, 0, .65);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 480px) {
  .tableContainer {
    padding: 0 30px;
  }

  .tableHeader {
    padding: 15px;
    margin-top: 30px;
  }

  .tableHeaderCount {
    flex-basis: 140px;
    text-align: center;
    margin: 0;
  }

  .tableHeaderType {
    margin: 0;
    flex-basis: 164px;
  }

  .tableItem {
    padding: 4px 15px;
  }

  .tableItemIcon {
    flex-basis: 140px;
    margin: 0;
  }

  .tableItemType {
    flex-basis: 164px;
  }
}
